.list-group {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #e50914;
  border-radius: 5px;
  padding: 20px;
}

.list-group-item img {
  max-width: 100%; 
  height: auto;
  display: block;
  margin: 0 auto; 
  max-height: 200px;
}

.list-group-item {
  color: #fff;
  font-weight: bold;
}

.list-group-item:last-child {
  margin-top: 20px;
}
