.list-group {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #e50914; /* Netflix red */
  border-radius: 5px;
  padding: 20px;
}

.list-group-item img {
  max-width: 100%; /* Make sure the image fits within the parent container */
  height: auto;
  display: block; /* To center the image within the container */
  margin: 0 auto; /* Center the image horizontally */
  max-height: 200px; /* Set a maximum height to control the size */
}

.list-group-item {
  color: #fff;
  font-weight: bold;
}

.list-group-item:last-child {
  margin-top: 20px;
}
